
body {
    background-color: #F9EBE0;
    position: relative;
    margin: 0;
    padding: 0;
    border: 0;
    z-index: -1;
    font-family: 'Oswald', sans-serif;
}
header {
    position:fixed;
    width:100%;
    z-index: 1;
}
.navbar {
    background: #22181C;
}
.navbar .nav-link.active {
    background-color: #F40000;
  }
.navbar .navbar-brand {
    font-size: 2em;
    color: #F40000;
    padding-left:.5em;
    padding-right:.5em;
}
.navbar .nav-link {
    color:#F9EBE0;
}
header ul {
    list-style-type: none;
}
#video {
    padding-left: 0;
    padding-right: 0;
    margin: 0;
    border-style: none;
    padding-top: 4.5em;
}
body h1 {
    padding-top: 2em;
    color: #3C91E6;
    text-align: center;
}
body h6 {
    color: #3C91E6;
    text-align: center;
}
#countrySlideshow .carousel-item img{
    object-fit: cover; /*https://raybo.org/posts/2021-03-27-consistent-height-carousels-with-css-gradients-by-hacking-the-bootstrap-5-carousel/*/
    margin:auto;
    height: 75vh;
    overflow: hidden;
    padding:0;
}
#countrySlideshow {
    border-style: solid;
    border-color: #FBB13C;
    border-width: 2em;
    padding: 0;
    background-color: white;
}
body p {
    color: #F40000;
    text-align: justify;
}
body h4 {
    color: #FBB13C;
    text-align: center;
}